@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  text-align: center;
  --primary-font-family: "Fira Code", monospace;
  --secondary-font-family: "Roboto", sans-serif;
  --tertiary-font-family: "Montserrat", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      transparent,
      transparent,
      transparent 75%,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

header {
  background: linear-gradient(
    to bottom,
    #89a,
    #abc,
    #bcd,
    #cde,
    #cde,
    #bcd,
    #abc,
    #89a
  );
}

.text-shadow {
  text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

.profile {
  overflow: hidden;
  border-radius: 100% 65% 65% 100% / 60% 60% 100% 100%;
  max-width: 50%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 80, 0.3);
}

::-webkit-scrollbar {
  width: 9px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #7e7e7e;
  border-radius: 10px;
}

@layer base {
  .text-primary {
    font-family: var(--primary-font-family);
  }

  .text-secondary {
    font-family: var(--secondary-font-family);
  }

  .text-tertiary {
    font-family: var(--tertiary-font-family);
  }

  .shadow-dark {
    box-shadow: 0 0 10px 5px rgba(115, 120, 220, 0.1);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*section {
  background: linear-gradient(
      to bottom right,
      #789,
      rgb(var(--background-start-rgb))
    )
    rgb(var(--background-end-rgb));
}*/

@media screen and (min-width: 640px) {
  ::-webkit-scrollbar {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .scrollContainer {
    display: flex;
    animation: scrollLeft 8s linear infinite;
  }

  @keyframes scrollLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-172.8%);
    }
  }

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border-radius: 10px;
  }

  .scrollContainer:hover {
    animation-play-state: paused;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 7, 14;
    --background-end-rgb: 70, 75, 105;
  }

  header {
    background: linear-gradient(
      to bottom,
      #012,
      #123,
      #234,
      #345,
      #345,
      #234,
      #123,
      #012
    );
  }

  ::-webkit-scrollbar-track {
    background: darkgrey;
  }

  ::-webkit-scrollbar-thumb {
    background: #345;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #347;
    transform: scale(0.5);
  }

  .text-shadow {
    text-shadow: 5px 5px 2px rgba(255, 255, 255, 0.15);
  }

  .profile {
    box-shadow: 0 0 10px 5px rgba(100, 106, 210, 0.3);
  }

  /* .section {
    background: linear-gradient(
        to bottom right,
        #012,
        rgb(var(--background-start-rgb))
      )
      rgb(var(--background-end-rgb));
  } */
}
