@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  text-align: center;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      transparent,
      transparent,
      transparent 75%,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

header {
  background: linear-gradient(
    to bottom,
    #89a,
    #9ab,
    #abc,
    #bcd,
    #cde,
    #bcd,
    #abc,
    #9ab,
    #89a
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero,
.about,
.projects,
.services,
.blogs,
.contact {
  background: linear-gradient(
      to bottom right,
      #789,
      /* #0136, */ rgb(var(--background-start-rgb))
    )
    rgb(var(--background-end-rgb));
}

@media screen and (min-width: 750px) {
  .scrollContainer {
    display: flex;
    animation: scrollLeft 15s linear infinite;
  }

  @keyframes scrollLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-172.8%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 7, 14;
    --background-end-rgb: 70, 75, 105;
  }

  header {
    background: linear-gradient(
      to bottom,
      #012,
      #123,
      #234,
      #345,
      #345,
      #234,
      #123,
      #012
    );
  }

  .hero,
  .about,
  .projects,
  .services,
  .blogs,
  .contact {
    background: linear-gradient(
        to bottom right,
        #012,
        /* #0136, */ rgb(var(--background-start-rgb))
      )
      rgb(var(--background-end-rgb));
  }
}
